<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Herder</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/leaflet.css" />
    <link href="css/datetimepicker.css" rel="stylesheet">
    <script src="js/leaflet.js"></script>
    <script src="js/datetimepicker.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/index.js" type="text/javascript"></script>
    <style>
        .leaflet-popup-tip-container {
            top: 100%;
        }
    </style>
</head>
<body>

    {{{body}}}

</body>
</html>