<script>
    window.MAP_URL = "{{ map.url }}";
</script>
<form id="search" autocomplete="off" style="z-index: 100000; position: absolute; top: 20px; left: 50px" action="/" method="GET">
    <input type="hidden" autocomplete="false"/>
    <input type="text" name="from" placeholder="from" class="datetime from" value="{{ from }}"/>
    <input type="text" name="to" placeholder="to" class="datetime to" value="{{ to }}"/>
    <select type="text" id="device-label" name="device" placeholder="Select Device" ></select>
    <button>Фильтровать</button>
    <div class="tracking-mode-container" style="position: absolute; z-index: 2; top: 30px; left: 0;">
        <input name="tracking" type="checkbox" id="tracking-mode" {{{ tracking }}}/>
        <label for="tracking-mode">Следящий режим</label>
    </div>
</form>


<h5 style="position: absolute; z-index: 2; bottom: 10px; left: 10px;">Всего объектов: {{ length }}</h5>
<div id="map" style="position: fixed; left: 0; right: 0; bottom: 0; top: 0;" data-points="{{ objectsJSON }}"></div>
